{% extends 'base.html.twig' %}

{% block title %}Welcome to your admin Dashoard!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Welcome back</h1>

    This is your Dashboard!
    
</div>
{% endblock %}
